$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$bandsite-black: #323232;
$pure-black: #000000;
$gallery-background: #fafafa;
$pure-white: #ffffff;
$primary-grey: #afafaf;
$secondary-grey: #e1e1e1;
$textinput-color: #fcfcfc;
