@use "./partials/resets";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/typography" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
p,
body {
  font-family: "Avenir";
  margin: 0;
}

.header {
  background-color: $bandsite-black;
  height: 7.9rem;

  &__brand {
    display: flex;
    justify-content: center;
  }

  &__logo {
    margin: 1.5rem 0 0 0;
    width: 11.25rem;
  }
}

@media screen and (min-width: 768px) {
  .header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem 2.25rem;
  }
}

.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: 0;
  }

  &__item {
    font-size: x-large;
    font-family: "Avenir";
    list-style: none;
    width: 50%;

    &--active {
      border-bottom: 5px solid #fff;
      padding-bottom: 1.15rem;
      width: 50%;
    }
  }

  &__link {
    color: #fff;
    text-decoration: none;

    &--active {
      @extend .nav__link;
      font-weight: bold;
    }
  }
}

@media screen and (min-width: 768px) {
  .nav__item {
    margin-left: 2rem;
  }

  .nav__list {
    margin-top: 2rem;
  }
}

.hero {
  background-image: url(/assets/Images/hero-bio.jpg);
  background-size: cover;
  position: relative;
  height: 15rem;
  width: 100%;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bandsite-black;
    opacity: 40%;
  }

  &__title {
    font-family: "Avenir";
    font-size: xx-large;
    color: #fff;
    position: absolute;
    padding-left: 1rem;
    padding-top: 6rem;
  }
}

.musicians {
  &__img--wrapper {
    display: flex;
    justify-content: center;
  }

  &__quote--img {
    width: 93%;
    max-width: 35rem;
  }

  &__quote--title {
    font-size: xx-large;
    padding: 1.5rem 1rem 1rem 1rem;
    color: $bandsite-black;
  }

  &__quote--description {
    font-weight: bold;
    font-size: large;
    padding: 1rem 1rem 2rem 1rem;
    letter-spacing: 0.05rem;
    color: $bandsite-black;
  }

  &__about--title {
    font-size: large;
    font-weight: normal;
    padding: 0 1rem 1rem 1rem;
  }

  &__about--description-1 {
    padding: 0 1rem;
    letter-spacing: 0.02rem;
    color: $bandsite-black;
  }

  &__about--description-2 {
    @extend .musicians__about--description-1;
    padding-bottom: 1rem;
  }
}

.gallery {
  background-color: $gallery-background;

  &__title {
    font-size: xx-large;
    padding: 1rem;
    color: $bandsite-black;
  }

  &__img {
    max-width: 100%;
    padding: 0 1rem 1rem 1rem;
  }
}

.footer {
  background-color: $bandsite-black;
  color: #ffffff;

  &__wrapper {
    padding: 1rem;
  }

  &__title {
    font-size: xx-large;
    padding-bottom: 1.25rem;
  }

  &__icon {
    margin: 0 2.5rem 0 0;
    height: 1.5rem;
  }

  &__link {
    text-decoration: none;
  }

  &__name {
    margin-bottom: 0;
    margin-top: 1.25rem;
  }

  &__company {
    font-weight: 600;
    padding: 0 0 1rem;
  }

  &__address {
    padding: 0 0 1rem;
  }

  &__email {
    &--link {
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__logo--mobile {
    margin: 2.5rem 0 1rem;
  }
}
