*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
p,
body {
  margin: 0;
}

.hero {
  background-image: url(/assets/Images/hero-bio.jpg);
  background-size: cover;
  position: relative;
  height: 28.75rem;
}
.hero::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 0.5;
}
