@font-face {
  font-family: "Avenir";
  src: url("/assets/Font/AvenirNextLTPro-Bold.otf");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/Font/AvenirNextLTPro-Demi.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/Font/AvenirNextLTPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
p,
body {
  font-family: "Avenir";
  margin: 0;
}

.header {
  background-color: #323232;
  height: 7.9rem;
}
.header__brand {
  display: flex;
  justify-content: center;
}
.header__logo {
  margin: 1.5rem 0 0 0;
  width: 11.25rem;
}

@media screen and (min-width: 768px) {
  .header {
    height: 5rem;
  }
  .header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.25rem 2.25rem;
  }
  .header__logo {
    width: auto;
    margin-top: 1.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__wrapper {
    padding: 0.25rem 6.75rem;
  }
}
.nav__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-left: 0;
}
.nav__item {
  font-size: x-large;
  font-family: "Avenir";
  list-style: none;
  width: 50%;
}
.nav__item--active {
  border-bottom: 5px solid #fff;
  padding-bottom: 1.2rem;
}
.nav__link, .nav__link--active {
  color: #fff;
  text-decoration: none;
}
.nav__link--active {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .nav__item {
    margin-left: 3.75rem;
    font-size: 1rem;
  }
  .nav__list {
    margin-top: 2rem;
  }
}
.hero {
  background-image: url(/assets/Images/hero-bio.jpg);
  background-size: cover;
  position: relative;
  height: 15rem;
  width: 100%;
}
.hero::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 40%;
}
.hero__title {
  font-family: "Avenir";
  font-size: xx-large;
  color: #fff;
  position: absolute;
  padding-left: 1rem;
  padding-top: 6rem;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 28rem;
  }
  .hero__title {
    padding-left: 2.25rem;
    font-size: 3.75rem;
    padding-top: 11rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 39rem;
  }
  .hero__title {
    padding-left: 6.75rem;
    padding-top: 17rem;
  }
}
.musicians {
  padding-left: 1rem;
  padding-right: 1rem;
}
.musicians__img--wrapper {
  display: flex;
  justify-content: center;
}
.musicians__quote--img {
  width: 100%;
  max-width: 35rem;
  /*----------height: 15rem;--------*/
}
.musicians__quote--title {
  font-size: xx-large;
  padding: 1.5rem 0 1rem;
  color: #323232;
}
.musicians__quote--description, .musicians__quote--vocalist {
  font-weight: bold;
  font-size: large;
  padding: 1rem 0 0.5rem;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
  color: #323232;
}
.musicians__quote--vocalist {
  padding: 0 0 2rem;
}
.musicians__about--title {
  font-size: large;
  font-weight: normal;
  padding: 0 0 1rem;
}
.musicians__about--description-1, .musicians__about--description-2 {
  letter-spacing: 0.01rem;
  line-height: 1.5rem;
  color: #323232;
}
.musicians__about--description-2 {
  padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .musicians {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
  .musicians__quote--title {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
  .musicians__quote--img {
    width: 100%;
    max-width: 55rem;
    height: 20rem;
    margin: 0 3rem;
  }
  .musicians__quote--description, .musicians__quote--vocalist {
    padding: 2.5rem 3rem 1rem;
    font-size: 1.35rem;
    letter-spacing: 0.06rem;
    line-height: 1.75rem;
  }
  .musicians__quote--vocalist {
    font-weight: bold;
    padding: 0 3rem 3rem;
    font-size: medium;
  }
  .musicians__about--wrapper {
    display: flex;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .musicians__about--title {
    font-size: x-large;
    font-weight: bold;
    padding: 0 3rem 1rem;
  }
  .musicians__about--description-1, .musicians__about--description-2 {
    padding: 0 1rem 2.25rem 3rem;
    letter-spacing: -0.02rem;
  }
  .musicians__about--description-2 {
    padding: 0 3rem 2.25rem 1rem;
    letter-spacing: -0.02rem;
  }
}
@media screen and (min-width: 1280px) {
  .musicians {
    padding-left: 6.75rem;
    padding-right: 6.75rem;
  }
  .musicians__quote--img {
    max-width: 56rem;
    height: 27rem;
  }
  .musicians__quote--description, .musicians__quote--vocalist {
    padding: 2.5rem 17.25rem 1rem 5.25rem;
  }
  .musicians__quote--vocalist {
    padding: 0 5.25rem 3rem;
  }
  .musicians__about--title {
    padding: 0 5.25rem 1rem;
  }
  .musicians__about--description-1, .musicians__about--description-2 {
    padding: 0 1rem 2.25rem 5.25rem;
    letter-spacing: 0.004rem;
  }
  .musicians__about--description-2 {
    padding: 0 5.25rem 2.25rem 1rem;
    letter-spacing: 0.004rem;
  }
}
.gallery {
  background-color: #fafafa;
}
.gallery__title {
  font-size: xx-large;
  padding: 1rem;
  color: #323232;
}
.gallery__img {
  max-width: 100%;
  padding: 0 1rem 1rem;
}

@media screen and (min-width: 768px) {
  .gallery__wrapper {
    padding-bottom: 0.75rem;
  }
  .gallery__title {
    padding: 3rem 2.25rem 2.25rem;
  }
  .gallery__images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .gallery__img {
    width: 32%;
    padding: 0 0.75rem 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__wrapper {
    margin: 0 4.5rem;
  }
}
.footer {
  background-color: #323232;
  color: #ffffff;
}
.footer__wrapper {
  padding: 1rem;
}
.footer__title {
  font-size: xx-large;
  padding-bottom: 1.25rem;
}
.footer__icon {
  margin: 0 2.5rem 0 0;
  height: 1.5rem;
}
.footer__link {
  text-decoration: none;
}
.footer__name {
  margin-bottom: 0;
  margin-top: 1.25rem;
}
.footer__company {
  font-weight: 600;
  padding: 0 0 1.5rem;
}
.footer__address {
  padding: 0 0 1.5rem;
}
.footer__email--link {
  color: #ffffff;
  text-decoration: none;
}
.footer__logo--mobile {
  margin: 5rem 0 1rem;
}
.footer__logo--wrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer__wrapper {
    padding: 0 2.25rem 2.25rem;
  }
  .footer__title {
    padding: 0 2.5rem 1rem 0;
    font-size: 2.25rem;
  }
  .footer__medias {
    display: flex;
    align-items: center;
    padding-top: 3rem;
  }
  .footer__logo--mobile {
    display: none;
  }
  .footer__wrapper--tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__logo--wrapper {
    display: flex;
    padding-top: 3.25rem;
  }
  .footer__contacts {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
  }
  .footer__detail {
    line-height: 1.4rem;
  }
  .footer__copyright {
    padding-top: 3rem;
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__wrapper {
    padding: 0 6.75rem 2.25rem;
  }
  .footer__contacts {
    justify-content: start;
  }
  .footer__detail {
    padding-right: 3rem;
  }
}/*# sourceMappingURL=bio.css.map */