@use "./partials/resets";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/typography" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
p,
body {
  font-family: "Avenir";
  margin: 0;
}

.header {
  background-color: $bandsite-black;
  height: 7.2rem;

  @include tablet-and-desktop {
    height: 4.98rem;

    &__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: 0.25rem 2.25rem;

      @include desktop {
        padding: 0.25rem 6.75rem;
      }
    }
  }

  &__brand {
    display: flex;
    justify-content: center;
  }

  &__logo {
    margin: 1.5rem 0 0 0;
    width: 10.25rem;

    @include tablet-and-desktop {
      width: auto;
      margin-top: 1.75rem;
    }
  }
}

.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: 0;
  }

  &__item {
    font-family: "Avenir";
    list-style: none;
    width: 50%;

    &--active {
      border-bottom: 5px solid #fff;
      padding-bottom: 0.95rem;
    }
  }

  &__link {
    color: #fff;
    text-decoration: none;

    &--active {
      @extend .nav__link;
      font-weight: bold;
    }

    &--inactive {
      color: #e1e1e1;
    }
  }
}

@media screen and (min-width: 768px) {
  .nav {
    &__item {
      margin-left: 3.75rem;
      font-size: 1rem;

      &--active {
        padding-bottom: 1.05rem;
      }
    }

    &__list {
      margin-top: 2rem;
    }
  }
}

.hero {
  background-image: url(/assets/Images/hero-shows.jpg);
  background-size: cover;
  position: relative;
  height: 25rem;
  width: 100%;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bandsite-black;
    opacity: 40%;
  }

  &__title {
    font-family: "Avenir";
    font-size: xx-large;
    color: #fff;
    position: absolute;
    padding-left: 1rem;
    padding-top: 5rem;
  }

  &__album {
    font-weight: 600;
    color: #ffffff;
    position: absolute;
    padding: 2.75rem 1rem 1rem;
  }

  &__iframe {
    margin: 12rem 1rem 0;
    width: 18rem;
    position: absolute;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 28rem;

    &__title {
      padding-left: 2.25rem;
      font-size: 3.75rem;
      padding-top: 11rem;
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    height: 39rem;

    &__title {
      padding-left: 6.75rem;
      padding-top: 17rem;
    }
  }
}

ul {
  list-style-type: none;
}

.shows {
  &__list {
    list-style-type: none;
    padding: 0 1rem;
    margin: 0 0 1rem;
  }

  &__title-name {
    font-size: xx-large;
    padding: 1.5rem 1rem 0;
  }

  &__subhead--tabletAndDesktop {
    display: none;

    @include tablet-and-desktop {
      display: contents;
    }
  }

  &__label {
    color: #a1a1a1;
    text-transform: uppercase;
    padding: 1rem 0 0;
    font-size: 0.9rem;
    font-weight: 600;
  }

  &__button {
    color: #ffffff;
    background-color: $bandsite-black;
    text-transform: uppercase;
    border-radius: 0.25rem;
    border: none;
    width: 100%;
    padding: 0.5rem 2rem;
    margin: 1rem 0 0;
  }

  &__cards {
    border-bottom: 0.063rem solid #e1e1e1;
    padding: 0 0 1rem 0;

    &--sublist {
      padding: 0;
    }
  }
}

.footer {
  background-color: $bandsite-black;
  color: #ffffff;

  &__wrapper {
    padding: 1.5rem 1rem 1rem;
  }

  &__title {
    font-size: xx-large;
    padding-bottom: 1.25rem;
  }

  &__icon {
    margin: 0 2.5rem 0 0;
    height: 1.5rem;
  }

  &__link {
    text-decoration: none;
  }

  &__contacts {
    line-height: 1.5rem;
  }

  &__name {
    margin-bottom: 0;
    margin-top: 1.5rem;
  }

  &__company {
    font-weight: 600;
    padding: 0 0 1rem;
  }

  &__address {
    padding: 0 0 1rem;
  }

  &__email {
    &--link {
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__logo {
    &--mobile {
      margin: 5rem 0 1rem;
      width: 10.25rem;
    }

    &--wrapper {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__wrapper {
      padding: 0 2.25rem 2.25rem;
    }

    &__title {
      padding: 0 2.5rem 0.75rem 0;
      font-size: 2.25rem;
    }

    &__medias {
      display: flex;
      align-items: center;
      padding-top: 3rem;
    }

    &__logo {
      &--mobile {
        display: none;
      }

      &--wrapper {
        display: flex;
        padding-top: 3.25rem;
      }
    }

    &__wrapper--tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__contacts {
      display: flex;
      justify-content: space-between;
      font-size: 0.9rem;
    }

    &__detail {
      line-height: 1.4rem;
    }

    &__copyright {
      padding-top: 3rem;
      font-size: 0.9rem;
    }
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    &__wrapper {
      padding: 0 6.75rem 2.25rem;
    }

    &__contacts {
      justify-content: start;
    }

    &__detail {
      padding-right: 3rem;
    }
  }
}
