@font-face {
  font-family: "Avenir";
  src: url("/assets/Font/AvenirNextLTPro-Bold.otf");
  src: url("/assets/Font/Alternative files/AvenirNextLTPro-Bold");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/Font/AvenirNextLTPro-Demi.otf");
  src: url("/assets/Font/Alternative files/AvenirNextLTPro-Demi");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("/assets/Font/AvenirNextLTPro-Regular.otf");
  src: url("/assets/Font/Alternative files/AvenirNextLTPro-Regular");
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
p,
body {
  font-family: "Avenir";
  margin: 0;
}

.hero {
  background-image: url(/assets/Images/hero-shows.jpg);
  background-size: cover;
  position: relative;
  height: 25rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 32rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 38rem;
  }
}
.hero::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 40%;
}
@media screen and (min-width: 768px) {
  .hero__section {
    padding-top: 0.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__section {
    padding-top: 10rem;
    padding-left: 5rem;
  }
}
.hero__title {
  font-family: "Avenir";
  font-size: xx-large;
  color: #ffffff;
  position: absolute;
  padding-left: 1rem;
  padding-top: 5rem;
  max-width: 22rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    padding-left: 2.25rem;
    padding-top: 5.5rem;
    font-size: 3.5rem;
    width: 35rem;
    max-width: none;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    width: 33rem;
  }
}
.hero__album {
  font-weight: 500;
  font-size: 1.25rem;
  color: #ffffff;
  position: absolute;
  padding: 2.75rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .hero__album {
    padding: 2.75rem 2.25rem 1rem;
    font-size: 1.6rem;
  }
}
.hero__iframe {
  margin: 12rem 1rem 0;
  width: 92%;
  position: absolute;
  border: none;
  border-radius: 0.3rem;
}
@media screen and (min-width: 768px) {
  .hero__iframe {
    margin: 18rem 2.25rem 0;
    width: 43%;
    min-width: 26rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__iframe {
    padding-left: 7rem;
    margin: 5.5rem 2.25rem 0 38rem;
  }
}

ul {
  list-style-type: none;
}

@media screen and (min-width: 1280px) {
  .concerts__container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
  }
}

.shows__list {
  list-style-type: none;
  padding: 0 1rem;
  margin: 0 0 1rem;
}
@media screen and (min-width: 768px) {
  .shows__list {
    padding: 0 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__location {
    padding-right: 1.95rem;
  }
}
.shows__title-name {
  font-size: xx-large;
  padding: 1.5rem 1rem 0;
}
@media screen and (min-width: 768px) {
  .shows__title-name {
    padding: 3rem 2.25rem 1rem;
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__title-name {
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .shows__wrapper {
    width: 50rem;
  }
}
.shows__subhead--tabletAndDesktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__subhead--tabletAndDesktop {
    display: flex;
    padding-left: 1rem;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .shows__subhead--tabletAndDesktop {
    width: 63%;
  }
}
.shows__label {
  color: #afafaf;
  text-transform: uppercase;
  padding: 1rem 0 0;
  font-size: 0.8rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .shows__label {
    display: none;
  }
}
.shows__date, .shows__location, .shows__venue {
  color: #afafaf;
  text-transform: uppercase;
  padding: 1rem 0 0;
  font-size: 0.9rem;
  font-weight: 600;
}
.shows__venue {
  padding-left: 0.5rem;
}
@media screen and (min-width: 768px) {
  .shows__venue {
    padding-left: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .shows__location {
    padding-right: 2rem;
  }
}
.shows__button {
  color: #ffffff;
  background-color: #323232;
  text-transform: uppercase;
  border-radius: 0.25rem;
  border: none;
  width: 100%;
  padding: 0.672rem 2rem;
  margin: 1rem 0 0;
  font-size: medium;
}
.shows__button:hover {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .shows__button {
    margin: 0 0 0 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__button {
    margin: 0 0 0 2.75rem;
  }
}
.shows__cards {
  border-bottom: 0.063rem solid #e1e1e1;
  padding: 0 0 1rem 0;
  flex-direction: column;
  line-height: 1.75rem;
}
.shows__cards--selected {
  background-color: #e1e1e1;
}
.shows__cards:not(.shows__cards--selected):hover {
  background-color: #fafafa;
  cursor: pointer;
}
.shows__cards--sublist {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .shows__cards {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .shows__cards--sublist {
    display: flex;
    align-items: center;
  }
}
.shows__info--date {
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .shows__info--date {
    min-width: 8.5rem;
  }
}
@media screen and (min-width: 768px) {
  .shows__info--venue, .shows__info--location {
    min-width: 8.5rem;
  }
}/*# sourceMappingURL=shows.css.map */